<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Page Not Found</title>
</head>
<body style="margin: 0;">
    <center><h1>Page not found!</h1></center>
    <center><a href="/"><input type="button" value="Home" style="
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    "></a></center>
</body>
</html>
