<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message - PHU Telecom</title>
    {{>userLinks}}
    {{>commLinks}}
    <style>
#send{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: black;
}
.send{
    height: 100px;
    border: 5px solid white;
    outline: none;
    margin-right: 20px;
    font-size: 60px;
    font-family: poppins;
    border-radius: 15px;
}
#text{
    width: calc(80% - 30px);
    margin-left: 20px;
    padding: 0 10px 0 10px;
}
button{
    width: 110px;
    background: white;
    height: 110px;
    margin-right: 20px;
}
button:hover{
    background: #202020;
    color: white;
}
.fas{
    transition: .1s;
}
#message{
    color: white;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    max-height: 70%;
    overflow-y: scroll;
    position: absolute;
    overflow-x: none;
    width: 100%;
    max-width: 100%;
}
#message font{
    margin-bottom: 100px;
    padding: 0 20px 0 20px;
    font-family: poppins;
}
*::-webkit-scrollbar{
    display: none;
}
@media(max-width: 800px){
    #text{
        width: calc(65% - 30px);
    }
}
    </style>
</head>
<body>
    {{>userNav}}
    <center>    
    <div id="message">
    </div>
    <form id="send" onsubmit="return false">
        <input type="text" id="text" class="send" placeholder="Message">
        <button id="sendButt" class="send"><i class="fas fa-paper-plane"></i></button>
        <button id="record" class="send"><i class="fas fa-microphone"></i></button>
    </form>
    </center>
    <div id="history" hidden>{{history}}</div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
$(document).ready(()=>{
    $('#send').on('submit',(e)=>{
        e.preventDefault
    })
    const history = $('#history').html().split('¿')
    history.forEach(createElm)
    function createElm(msg){
        if(msg.includes('suzModBuf')){
            const mess = msg.replace('suzModBuf').split('~')
            alert(mess[0]+'+~+'+mess[1])
            alert(window.location.pathname)
            const audio = document.createElement('audio')
            audio.innerHTML = '<source src="./storage/'+mess[0]+'">'
            audio.setAttribute('controls',true)
            document.querySelector('#message').appendChild(audio)
            document.querySelector('#message').scrollTop = document.querySelector('#message').scrollHeight
        }
        else{
            const font = document.createElement('font')
            font.innerHTML = msg
            document.querySelector('#message').appendChild(font)
            document.querySelector('#message').scrollTop = document.querySelector('#message').scrollHeight
        }
    }
})
        var socket = io()
$('#sendButt').click(()=>{
    let message = $('#text').val().replace('¿','')
    if (message!='') {
        let token = document.cookie.replace('jwt=','')
        socket.emit('message',{
            msg: message,
            token: token
        })
        $('#text').val('')
    }
})
socket.on('message',(param)=>{
    const font = document.createElement('font')
    font.innerHTML = param.msg+' ~ '+param.name
    var audio = new Audio('https://drive.google.com/uc?export=download&id=1_gWF0FnQiNLK3u4E4idfSfpZNXCcFIAE')
    audio.play()
    document.querySelector('#message').appendChild(font)
    document.querySelector('#message').scrollTop = document.querySelector('#message').scrollHeight
})
$('#record').click(()=>{
    $('#record i').toggleClass('fa-microphone')
    $('#record i').toggleClass('fa-stop')
})
let stream
let media = []
let recorder
$('.fa-microphone').click(async ()=>{
    try{
        stream = await navigator.mediaDevices.getUserMedia({audio: true})
        recorder = new MediaRecorder(stream)
        recorder.ondataavailable = (e) =>{
          media.push(e.data)  
        }
        recorder.start()
        setTimeout(()=>{
            recorder.stop()
            $('#record i').addClass('fa-microphone')
            $('#record i').removeClass('fa-stop')
        },30000)
        $('.fa-stop').click(()=>{
            recorder.stop()
        })
        recorder.onstop = ()=>{
            let blob = new Blob(media)
            stream.getTracks().forEach(function(track) {
                track.stop()
            })
            let token = document.cookie.replace('jwt=','')
            socket.emit('audio',{
                audio: blob,
                token: token
            })
        }
    }catch(e){
        $('#record i').addClass('fa-microphone')
        $('#record i').removeClass('fa-stop')
        alert('Please allow permission for recording')
        console.log(e)
    }
})
socket.on('audio',(param)=>{
    var bgm = new Audio('message.mp3')
    bgm.play()
    const url = URL.createObjectURL(param.audio)
    const div = document.createElement('div')
    div.innerHTML = '<audio><source src="'+url+'" controls></audio><font>~ '+param.name+'</font>'
    document.querySelector('#message').appendChild(div)
    document.querySelector('#message').scrollTop = document.querySelector('#message').scrollHeight
})
    </script>
</body>
</html>
